<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<% if current_user %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TechBlog</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li></ul>
      <ul class="nav navbar-nav">
        <li ><%= link_to 'My Articles', user_articles_path(current_user) %></li></ul>
      <ul class="nav navbar-nav">
        <li> <%= link_to 'New article', new_user_article_path(current_user) %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
    <% else %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TechBlog</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Home', root_path %></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <% end%>
</head>
<div class = "container ">
  <div class="page-header">
    <h1><p>
      Welcome to TechBlog
    </p></h1>

  </div>

<% if current_user %>
  Logged in as <%= current_user.email %>.
<% else %>
  <p>Please Login to Create and View Articles</p>
<% end %>
<p id="notice"><%= notice %></p>

</div>